# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=whatsapp:+14155238886
TWILIO_TO_NUMBER=+5491178262926

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=7008393600

# Server
PORT=3000
